/Sort/*.sdf
/Sort/*.opensdf
/Sort/Debug
/Basic/Basic/Debug
/Sort/Sort/Debug
/Sort/DataStruct/Debug
/Sort/COM/Debug
/Sort/ThirdPartDemo/Debug
/temp
/Sort/ipch
/Sort/x64
/Sort/Main/x64
*.user
*.aps
*.suo

/lib/*.exe
/lib/*.exp
/lib/*.ilk
/lib/*.pdb

/bin
/bin/*.exp

